[core]
    pager = "less -x5,9"
    editor = "vim"
[push]
    default = simple
[alias]
    st = status
    ci = commit --verbose
    co = checkout
    df = diff
    lg = log -p
    ap = add --patch
    track = add -N
    dfh = diff HEAD
    diffh = diff HEAD
    permission-reset = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply

[include]
    path = ~/.gitcredentials
[pull]
	rebase = true
