[core]
    pager = "less -x5,9"
    editor = "nvim"
    symlinks = true
    whitespace = trailing-space

[push]
    default = simple

[pull]
	rebase = true

[branch]
    sort = -committerdate

[alias]
    st = status --ignore-submodules=dirty
    ci = commit --verbose
    co = checkout
    df = diff
    lg = log -p
    ap = add --patch
    track = add -N
    dfh = diff HEAD
    diffh = diff HEAD
    permission-reset = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
    prune-tags = !git tag -l | xargs git tag -d && git fetch -t
    cp = cherry-pick

[include]
    path = ~/.gitcredentials
[rerere]
	enabled = true

[commit]
    verbose = true

[includeIf "hasconfig:remote.*.url:git@github.com:Chatterino/chatterino2*"]
    path = ~/.gitsigning
