[core]
    pager = "less -x5,9"
    editor = "nvim"
    symlinks = true

[push]
    default = simple

[pull]
	rebase = true

[alias]
    st = status
    ci = commit --verbose
    co = checkout
    df = diff
    lg = log -p
    ap = add --patch
    track = add -N
    dfh = diff HEAD
    diffh = diff HEAD
    permission-reset = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
    prune-tags = !git tag -l | xargs git tag -d && git fetch -t

[include]
    path = ~/.gitcredentials
[rerere]
	enabled = true
